/*.lmu
/*.lsd
/RPG_RT.ldb
/RPG_RT.lmt
/Player.exe
/RPG_RT.exe
/lcf2xml.exe
/easyrpg_log.txt
/screenshot_*.png
/_Extras/
/_patch/
/Backdrop/*.png
/Battle/*.png
/dev/todo/
/GameOver/*.png
/Language/en/*.mo
/Monster/*.png
/Music/
/Sound/
/*.zip
/_Documentation/site/
/_Documentation/
